<div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="center center">
  <!--FILTROS-->
  <div class="filtros">
    <div class="filtro-columna" >
      <mat-card-subtitle>Por provincia</mat-card-subtitle>
      <mat-form-field appearance="fill">
        <mat-label>Provincias</mat-label>
        <mat-select [formControl]="provinciaForm" multiple (selectionChange)="filterByProvincias()">
        
          <mat-option *ngFor="let p of provincias"  [value]="p.Provincia">{{
            p.Provincia
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!--TODO : arreglar que aparezca la caja cuando se selecciona UNA provincia-->
  
      <form class="example-form" *ngIf="provinciaForm.value.length == 1" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Municipio</mat-label>
          <input
          [attr.disabled]="disableForm.value"
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option (onSelectionChange)="getMunicipios(provinciaForm.value[0])"
              *ngFor="let municipio of municipiosNombres"
              [value]="municipio" 
            >
              {{ municipio }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="filtro-columna" >

      <mat-card-subtitle>Por precio</mat-card-subtitle>
      <!--TIPOS DE CARBURANTE-->
      <mat-form-field appearance="fill">
        <mat-label>Tipo de carburante</mat-label>
        <mat-select>
          <mat-option *ngFor="let c of carburante" [value]="c.value">
            {{ c.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--PRECIO-->
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="sliderOptions"></ngx-slider>

    </div>
  </div>
  <!------------->

  <!---->
  <br>
  <mat-spinner *ngIf="filteredList.length == 0"></mat-spinner>

  <app-gasolinera-item
    *ngFor="let g of filteredList"
    [gasolineraInput]="g"
    fxFlex="60"
  ></app-gasolinera-item>
</div>
