.card{
    display: flex;
    cursor:pointer;
    justify-content: space-between;
    width: 800px;
}

.mapa-prov{

    object-fit: cover;
    border-radius: 10px;
    min-width: 550px;
    height: 150px;
}


.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
