<mat-card (click)="openDialog()" class="card">
  <div style=" min-width: 200px;">
    <mat-card-header>
      <h1 class="text-ellipsis">{{ gasolineraInput.rotulo }}</h1>
    </mat-card-header>
    <h3 class="text-ellipsis">{{gasolineraInput.provincia}}</h3>
    <mat-card-subtitle >
      <p class="text-ellipsis">{{ gasolineraInput.direccion }}</p></mat-card-subtitle>
  </div>

  <!--TODO : Implementar el mapa de Google maps-->
    <img class="mapa-prov" src="https://images.indianexpress.com/2017/05/google-maps-759.jpg">


</mat-card>
